process {
    container = 'dilmicperera/msings:latest'
}
docker.enabled = true
params.assets_bucket = "s3://dperera-orchestration-ch/inputs"
params.input_bucket = 's3://bcazander-orchestration-ch/'
params.output_bucket = "s3://dperera-orchestration-ch/outputs"
params.run_folder_id = "altera-pilot-study-canexia/alignments"
params.output_folder = "altera-pilot-study-canexia_mSINGS"
params.tumour_bam="C035_0211_012545_XX_Whole_T2_K1ID2_A68174"
params.sample="C035_0211_012545"

